@mixin flex ($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

%center{
    display: flex;
    justify-content: center;
    align-items: center;
}

%transition {
    transition: all .2s ease;
}